/* Begin primary element settings */
html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}
body {
  font-family: Ubuntu, Tahoma, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.4em;
  background: #f7f7f7;
  color: #404040;
}
a {
  text-decoration: none;
}
h3 {
  margin: 12px 0 9px;
}
h3 small {
  color: #888;
  font-weight: normal;
}
p {
  margin: 0.6em 0;
}
small {
  line-height: 1.2em;
}
svg {
  font-family: Ubuntu, Tahoma, Helvetica, sans-serif;
}
canvas, svg {
  top: 0;
  left: 0;
}
/* End primary element settings */

/* Begin column position settings */
.quarter, .third, .half {
  float: left;
}
.quarter {
  width: 23%;
  margin: 0 1%;
}
.third {
  width: 31.3%;
  margin: 0 1%;
}
.half {
  width: 48%;
  margin: 0 1%;
}
/* End column position settings */

/* Main chart size and position */
#chart {
  height: 600px;
  width: 100%;
  position: relative;
}

/* Begin parcoords overrides (d3.parcoords.css) */
.parcoords .brush rect.extent {
  fill: rgba(100,100,100,0.15);
  stroke: #fff;
}
.parcoords .brush rect.extent:hover {
  stroke-dasharray: none;
}
.parcoords .resize rect {
  fill: none;
}
.parcoords .axis line, .axis path {
  fill: none;
  stroke: #777;
  stroke-width: 1;
}
.parcoords .axis .tick {
  width: 200px;
}
.parcoords .axis text {
  fill: #111;
  text-anchor: right;
  font-size: 11px;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  cursor: move;
}
.parcoords .axis text.label {
  font-size: 12px;
  cursor: move;
  padding-bottom: 24px;
  cursor: move;
}
/* End parcoords overrides */

.brush:hover rect.extent {
  stroke: #222;
  stroke-dasharray: 5,5;
}
.background {
  fill: none;
}

/* Begin Buttons settings */
button[disabled=disabled] {
  color: #555 !important;
  opacity: 0.4;
}
.settings button {
  margin-top: 3px;
}
.settings button[disabled=disabled] {
  display: none;
}
button#keep-data,
button#exclude-data {
  font-weight:bold
}
button#keep-data:hover {
  color: #080;
}
button#exclude-data:hover {
  color: #900;
}
/* End Button settings */

/* Begin header section */

#header {
  border-bottom: 1px solid rgba(100,100,150,0.35);
  background: #e2e2e2;
  padding: 6px 24px 4px;
  line-height: 24px;
}
#header h1 {
  display: inline-block;
  margin: 0px 14px 0 0;
}
#header button {
  vertical-align: top;
}
.controls {
  float: right;
  height: 24px;
  line-height: 24px;
}

/* Begin status bar */
#rendered-bar,
#selected-bar {
  width:0%;
  font-weight: bold;
}
#rendered-bar {
  background: #888;
  border-right: 1px solid #666;
}
#selected-bar {
  background: rgba(160,160,160,0.5);
  border-right: 1px solid #999;
}
.fillbar {
  height: 12px;
  line-height: 12px;
  border:1px solid rgba(120,120,120,0.5);
  width: 120px;
  display: inline-block;
}
/* End status bar */

/* End header section */


/* Begin Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 12px;
}
::-webkit-scrollbar-thumb {
  background: #b5b5b5;
  border-radius: 12px;
}
/* End Scrollbar */

/* Begin SlickGrid */
#grid, #pager {
}
#grid {
  bottom: 0;
  height: 400px;
}
#pager {
  bottom: 0px;
  height: 20px;
}
.slick-row:hover, .slick-row.pinned {
  font-weight: bold;
  color: #069;
}
.row {
  cursor: pointer;
}
.row:hover {
  font-size: 16px;
  line-height: 1.3em;
}
.off {
  color: #999;
}
#map {
    align-items: center;
    background: orange;
}
#spectrum {
    background: yellow;
}
/* End SlickGrid */


/* Begin Dark Theme */
body.dark {
  background: #131313;
  color: #e3e3e3;
}
.dark a {
  color: #5ae;
}
.dark .brush rect.extent {
  fill: rgba(100,100,100,0.15);
  stroke: #ddd;
}
.dark .background {
  fill: none;
}
.dark .axis line, .dark .axis path {
  stroke: #777;
}
.dark .axis text {
  fill: #f2f2f2;
  text-shadow: 0 1px 0 #000, 1px 0 0 #000, 0 -1px 0 #000, -1px 0 0 #000;
}
.dark .axis text.label {
  fill: #ddd;
}
.dark button[disabled=disabled] {
  opacity: 0.2;
}
.dark .off {
  color: #555;
}
.dark #legend {
  border-left: 1px solid #777;
}
.dark #header {
  background: #040404;
  color: #f3f3f3;
}
.dark ::-webkit-scrollbar-track {
  background: #222;
}
.dark ::-webkit-scrollbar-thumb {
  background: #444;
}
/* End Dark Theme */